/*  Variables
 *  ------------------------------------------------------------------------------- */
/*  Mixins
 *  ------------------------------------------------------------------------------- */
/*  Box shadow
 *  ------------------------------------------------------------------------------- */
button {
  -webkit-border-radius: 0.143em;
  -moz-border-radius: 0.143em;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-top: 1px;
  padding: 8px 10px 9px;
  position: relative;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  background: #f3ebb7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3ebb7), to(#e1d6aa));
  border-color: #d1c698;
  color: #3b3314; }
  button:hover {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    background: #847539;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c8a46), to(#847539));
    border-color: #5f5324;
    color: white;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px 0; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-family: "HelveticaNeue", arial, helvetica sans-serif;
  background: #37040a url(../images/background-body.gif);
  font-size: 0.875em;
  line-height: 1.3; }
  .standalone body {
    padding-bottom: 4.5em; }

@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
    min-height: 480px; } }

a {
  color: #ebc466;
  font-weight: bold; }

#tab-bar {
  display: block;
  background: #050405;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#353535), color-stop(0.55, #212021), color-stop(0.551, #090809), to(#050405));
  border-bottom: 1px #441d22 solid;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  position: relative;
  z-index: 200; }
  #tab-bar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie7 #tab-bar, .ie6 #tab-bar {
    overflow: hidden;
    zoom: 1; }
  #tab-bar li {
    display: inline;
    float: left;
    width: 33.333%; }
  #tab-bar a {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    color: #cdcdcd;
    display: block;
    font-size: 0.857em;
    font-weight: bold;
    height: 4.583em;
    padding-top: 0.417em;
    position: relative;
    margin: 0 0.857em;
    text-align: center;
    text-decoration: none; }
  .standalone #tab-bar {
    margin-top: 0.3em;
    position: absolute;
    width: 100%; }

#tab-spots a:after, #tab-stars a:after, #tab-sighting a:after {
  content: "";
  display: block;
  width: 4.3em;
  height: 2.6em;
  margin: 0.32em auto 0;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto; }

#tab-spots a:after {
  background: transparent; }
  .svg #tab-spots a:after {
    content: url(../images/icon-spots-normal.svg); }
#page-spots #tab-spots a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(40, 40, 40, 0.9)), color-stop(0.55, rgba(35, 35, 35, 0.5)), to(rgba(46, 46, 46, 0.1)));
  color: #ebc466;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0; }
  #page-spots #tab-spots a:after {
    background: transparent; }
    .svg #page-spots #tab-spots a:after {
      content: url(../images/icon-spots-selected.svg); }
  #page-spots #tab-spots a:before {
    content: "";
    display: block;
    height: 0.5em;
    margin-left: -1em;
    left: 50%;
    position: absolute;
    margin-top: -1px;
    top: 0;
    width: 2em; }
    .cssgradients #page-spots #tab-spots a:before {
      background: -webkit-gradient(radial, 50% 0, 0, 50% 0, 7, from(rgba(236, 223, 156, 0.9)), to(rgba(85, 85, 85, 0))); }

.standalone.cssgradients #page-spots #tab-spots a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(46, 46, 46, 0), color-stop(0.55, rgba(35, 35, 35, 0.5)), to(rgba(40, 40, 40, 0.9))));
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0; }
  .standalone.cssgradients #page-spots #tab-spots a:before {
    bottom: -2px;
    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 7, from(rgba(236, 223, 156, 0.9)), to(rgba(85, 85, 85, 0)));
    top: auto; }

#tab-stars a:after {
  background: transparent; }
  .svg #tab-stars a:after {
    content: url(../images/icon-stars-normal.svg); }
#page-stars #tab-stars a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(40, 40, 40, 0.9)), color-stop(0.55, rgba(35, 35, 35, 0.5)), to(rgba(46, 46, 46, 0.1)));
  color: #ebc466;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 -10px 1px 0; }
  #page-stars #tab-stars a:after {
    background: transparent; }
    .svg #page-stars #tab-stars a:after {
      content: url(../images/icon-stars-selected.svg); }
  #page-stars #tab-stars a:before {
    content: "";
    display: block;
    height: 0.5em;
    margin-left: -1em;
    left: 50%;
    position: absolute;
    margin-top: -1px;
    top: 0;
    width: 2em; }
    .cssgradients #page-stars #tab-stars a:before {
      background: -webkit-gradient(radial, 50% 0, 0, 50% 0, 7, from(rgba(236, 223, 156, 0.9)), to(rgba(85, 85, 85, 0))); }

.standalone.cssgradients #page-stars #tab-stars a {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(46, 46, 46, 0), color-stop(0.55, rgba(35, 35, 35, 0.5)), to(rgba(40, 40, 40, 0.9))));
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 10px 1px 0; }
  .standalone.cssgradients #page-stars #tab-stars a:before {
    bottom: -2px;
    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 7, from(rgba(236, 223, 156, 0.9)), to(rgba(85, 85, 85, 0)));
    top: auto; }

#tab-sighting a {
  -webkit-border-bottom-left-radius: 0.286em;
  -webkit-border-bottom-right-radius: 0.286em;
  -moz-border-radius-bottomleft: 0.286em;
  -moz-border-radius-bottomright: 0.286em;
  border-bottom-left-radius: 0.286em;
  border-bottom-right-radius: 0.286em;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -o-box-shadow: black 0 0 4px 0;
  -webkit-box-shadow: black 0 0 4px 0;
  -moz-box-shadow: black 0 0 4px 0;
  box-shadow: black 0 0 4px 0;
  background: #d5d2d2;
  color: #111111;
  height: 4.95em;
  margin: 0 0 -0.3em; }
  .standalone #tab-sighting a {
    -webkit-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 0.286em;
    -webkit-border-top-right-radius: 0.286em;
    -moz-border-radius-topleft: 0.286em;
    -moz-border-radius-topright: 0.286em;
    border-top-left-radius: 0.286em;
    border-top-right-radius: 0.286em;
    margin: -0.3em 0 0; }
  .cssgradients #tab-sighting a {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dad7d7), color-stop(0.55, #eae9e9), color-stop(0.551, #d5d2d2), to(#d0cdcd)), #d5d2d2; }
  #tab-sighting a:after {
    background: transparent;
    content: ""; }
    .svg #tab-sighting a:after {
      content: url(../images/icon-sightings-normal.svg); }

#header {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  background: #6a0712;
  border-bottom: 1px #38040a solid;
  color: #ebc466;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.6em 0.6em 0.7em; }
  .cssgradients #header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#821520), color-stop(0.55, #771722), color-stop(0.551, #6e0809), to(#690712)), #6a0712; }
  .no-standalone #header {
    display: none; }
  #header .back {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    -webkit-border-radius: 0.286em;
    -moz-border-radius: 0.286em;
    border-radius: 0.286em;
    -o-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    font-family: "HelveticaNeue", arial, helvetica sans-serif;
    background: #9a1b27;
    border: 1px #54100d solid;
    color: white;
    font-size: 0.92em;
    font-weight: bold;
    letter-spacing: 0;
    padding: 0.4em 0.6em 0.5em 0.6em;
    position: absolute;
    text-decoration: none;
    text-transform: none;
    top: 0.2em;
    left: 0.5em;
    -webkit-background-clip: padding-box; }

#spots-location {
  display: block;
  padding: 0.65em 0.5em 0.6em; }
  #spots-location:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie7 #spots-location, .ie6 #spots-location {
    overflow: hidden;
    zoom: 1; }
  #spots-location label span {
    display: none; }
  #spots-location input {
    -webkit-border-radius: 0.286em;
    -moz-border-radius: 0.286em;
    border-radius: 0.286em;
    background: #e1cece;
    border: 1px #3c0603 solid;
    font-size: 1.15em;
    margin: 0;
    height: 2em;
    width: 100%; }
    #spots-location input:focus {
      background: white; }
  #spots-location input::-webkit-input-placeholder {
    color: #856969; }
  #spots-location input:-moz-placeholder {
    color: #856969; }
  #spots-location fieldset {
    float: left;
    position: relative;
    width: 76%; }
  #spots-location button {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    -webkit-border-radius: 0.286em;
    -moz-border-radius: 0.286em;
    border-radius: 0.286em;
    -o-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    font-family: "HelveticaNeue", arial, helvetica sans-serif;
    background: #7c0c18;
    border: 1px #3c0603 solid;
    color: white;
    float: right;
    font-size: 0.857em;
    font-weight: bold;
    height: 2.7em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    width: 22%;
    -webkit-background-clip: padding-box; }

.locate-me {
  -webkit-border-top-right-radius: 0.286em;
  -webkit-border-bottom-right-radius: 0.286em;
  -moz-border-radius-topright: 0.286em;
  -moz-border-radius-bottomright: 0.286em;
  background: #eadddd;
  border-left: 1px #b99f9e solid;
  bottom: 0.071em;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0.071em;
  text-indent: -999em;
  width: 2.2em; }
  .locate-me:after {
    background: transparent;
    bottom: 0.25em;
    left: 0.25em;
    display: block;
    position: absolute;
    top: 0.25em;
    width: 1.8em;
    text-indent: 0;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto; }
    .svg .locate-me:after {
      content: url(../images/icon-location.svg); }

.table-view {
  background: #7c0c18; }
  .table-view li {
    border-top: 1px #8c2a34 solid;
    border-bottom: 1px #640913 solid; }
  .table-view .even {
    background: #830f1b; }

.table-action h2 {
  color: white;
  font-size: 1.256em; }
.table-action li {
  border: none; }
.table-action a {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  border-top: 1px #8c2a34 solid;
  border-bottom: 1px #640913 solid;
  color: #d6b69e;
  display: block;
  font-size: 1em;
  padding: 0.5em 0.785em 0.714em;
  position: relative;
  text-decoration: none; }
.table-action .relative-distance {
  font-weight: normal; }
.table-action .sightings {
  -webkit-border-radius: 0.143em;
  -moz-border-radius: 0.143em;
  background: #6f0914;
  border: 1px #841420 solid;
  color: #ebc466;
  font-weight: bold;
  position: absolute;
  padding: 0.214em 0.429em;
  right: 3em;
  top: 50%;
  margin-top: -1.1em; }

.table-list {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  color: #c08b7c; }
  .table-list h2 {
    color: white;
    font-size: 1.256em;
    line-height: 1;
    margin-bottom: 0.15em; }
  .table-list a {
    text-decoration: none; }
  .table-list li {
    padding: 0.8em 0.785em 0.9em 5em;
    position: relative; }
  .table-list .avatar {
    position: absolute;
    left: 0;
    top: 0.4em; }
    .table-list .avatar img {
      -webkit-border-top-right-radius: 0.286em;
      -webkit-border-bottom-right-radius: 0.286em;
      -moz-border-radius-topright: 0.286em;
      -moz-border-radius-bottomright: 0.286em; }
  .table-list h2 {
    margin-top: 0; }
  .table-list .details {
    font-size: 0.928em; }

#next-page {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
  background: #62030e;
  border-top: 1px #8c2a34 solid;
  border-bottom: 1px #771f28 solid;
  text-decoration: none;
  display: block;
  font-size: 1.143em;
  padding: 0.5em 0.785em 0.785em; }

.page-header {
  display: block;
  color: #d6b69e;
  padding: 0.8em 0.785em 1.1em;
  position: relative; }
  .page-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie7 .page-header, .ie6 .page-header {
    overflow: hidden;
    zoom: 1; }
  .page-header h1 {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    font-size: 1.57em;
    color: white;
    line-height: 1;
    margin-bottom: 0.25em;
    padding-right: 3em; }
  .page-header .map, .page-header .avatar {
    margin-top: -2.18em;
    position: absolute;
    right: 0;
    top: 50%; }
    .page-header .map img, .page-header .avatar img {
      -webkit-border-top-left-radius: 0.286em;
      -webkit-border-bottom-left-radius: 0.286em;
      -moz-border-radius-topleft: 0.286em;
      -moz-border-radius-bottomleft: 0.286em;
      border-top-left-radius: 0.286em;
      border-bottom-left-radius: 0.286em; }

#page-sightings form {
  background: #7c0c18;
  padding: 0.65em 0.5em 0.6em; }
#page-sightings label {
  display: block;
  font-size: 1.15em;
  position: relative; }
  #page-sightings label span {
    color: #7c0c18;
    font-size: 0.875em;
    font-weight: bold;
    position: absolute;
    right: 82%;
    top: 0.8em; }
#page-sightings input {
  background: #e1cece;
  border: 1px #3c0603 solid;
  display: block;
  font-size: 1em;
  margin: 0;
  height: 2em;
  padding: 1.2em;
  padding-left: 20%;
  width: 100%;
  -webkit-background-clip: padding-box; }
  #page-sightings input:focus {
    background: white; }
#page-sightings input::-webkit-input-placeholder {
  color: #856969; }
#page-sightings input:-moz-placeholder {
  color: #856969; }

#label-name {
  border-bottom: 0; }

#input-name {
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-radius: 0;
  -webkit-border-top-left-radius: 0.286em;
  -webkit-border-top-right-radius: 0.286em;
  -moz-border-radius-topleft: 0.286em;
  -moz-border-radius-topright: 0.286em;
  border-top-left-radius: 0.286em;
  border-top-right-radius: 0.286em; }

#label-spot .locate-me {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0; }

#input-spot {
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-radius: 0;
  -webkit-border-bottom-left-radius: 0.286em;
  -webkit-border-bottom-right-radius: 0.286em;
  -moz-border-radius-bottomleft: 0.286em;
  -moz-border-radius-bottomright: 0.286em;
  border-bottom-left-radius: 0.286em;
  border-bottom-right-radius: 0.286em;
  border-top: none !important;
  padding-bottom: 1.3em !important;
  padding-right: 12% !important; }

#photo {
  margin: 1em 0; }
  #photo a {
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 1px;
    -webkit-border-radius: 0.286em;
    -moz-border-radius: 0.286em;
    border-radius: 0.286em;
    -o-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px 0 inset;
    font-family: "HelveticaNeue", arial, helvetica sans-serif;
    background: #9a1b27;
    border: 1px #3c0603 solid;
    color: white;
    display: block;
    letter-spacing: 0;
    font-size: 1.14em;
    font-weight: bold;
    padding: 0.5em 0.8em 0.7em;
    text-decoration: none;
    margin: 0;
    -webkit-background-clip: padding-box; }

#footer {
  display: block;
  color: #e0ccce;
  padding: 1em 0.785em 1em; }
  #footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie7 #footer, .ie6 #footer {
    overflow: hidden;
    zoom: 1; }
  #footer .authenticate {
    float: right; }

#wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden; }
