@import _mixins

// ---- Reset --------------
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent


// ---- Structure --------------


html
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  +font-stack("helvetica")
  background: #37040a url(../images/background-body.gif)
  font-size: 0.875em
  line-height: 1.3


#pages
  background: #37040a url(../images/background-body.gif)

@media only screen and (max-device-width: 480px)
  body
    min-height: 480px

a
  color: #ebc466
  font-weight: bold

// ---- Tab bar --------------
#tab-bar
  +clearfix
  background: #050405
  border-bottom: 1px #441d22 solid
  position: relative
  z-index: 200
  -webkit-user-select: none
  +box-shadow(rgba(0,0,0,.5), 0, 0, 5px, 0)
  .cssgradients &
    background-image: -moz-linear-gradient(top, rgba(53, 53, 53, 1), rgba(33, 32, 33, 1) 55%, rgba(9, 8, 9, 1) 55.1%, rgba(5, 4, 5, 1))
    background-image: -ms-linear-gradient(top, rgba(53, 53, 53, 1), rgba(33, 32, 33, 1) 55%, rgba(9, 8, 9, 1) 55.1%, rgba(5, 4, 5, 1))
    background-image: -o-linear-gradient(top, rgba(53, 53, 53, 1), rgba(33, 32, 33, 1) 55%, rgba(9, 8, 9, 1) 55.1%, rgba(5, 4, 5, 1))
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(53, 53, 53, 1)), color-stop(0.55, rgba(33, 32, 33, 1)), color-stop(0.551, rgba(9, 8, 9, 1)), to(rgba(5, 4, 5, 1)))
    background-image: -webkit-linear-gradient(top, rgba(53, 53, 53, 1), rgba(33, 32, 33, 1) 55%, rgba(9, 8, 9, 1) 55.1%, rgba(5, 4, 5, 1))
    background-image: linear-gradient(top, rgba(53, 53, 53, 1), rgba(33, 32, 33, 1) 55%, rgba(9, 8, 9, 1) 55.1%, rgba(5, 4, 5, 1))
  li
    display: inline
    float: left
    width: 33.333333%
  a
    +dark-inset
    color: #cdcdcd
    display: block
    font:
      // Set base at 12px
      size: .857em
      weight: bold
    height: 4.583em
    min-height: 55px
    margin: 0 0.833em
    // Need to stop sprites overflowing
    overflow: hidden
    padding-top: .428em
    position: relative
    text-align: center
    text-decoration: none
  .standalone &
    margin-top: .3em
    position: absolute
    width: 100%


// ---- States --------------

#tab-bar a
  &:after
    content: url(../images/sprite.png)
    position: absolute
    overflow: hidden
    left: 50%
    top: 1.833em
    .svg &
      content: url(../images/sprite.svg)


#tab-spots a
  &:after
    clip: rect(0 18px 33px 0px)
    margin-left: -10px
  .page-spots &
    color: #ebc466
    +box-shadow(rgba(0, 0, 0,.8), 0, -10px, 1px, 0)
    .cssgradients &
      background-image: -moz-linear-gradient(top, rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba(46, 46, 46, .1))
      background-image: -ms-linear-gradient(top, rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba(46, 46, 46, .1))
      background-image: -o-linear-gradient(top, rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba(46, 46, 46, .1))
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(40, 40, 40, .9)), color-stop(0.55, rgba(35, 35, 35, .5)), to(rgba(46, 46, 46, .1)))
      background-image: -webkit-linear-gradient(top, rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba(46, 46, 46, .1))
      background-image: linear-gradient(top, rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba(46, 46, 46, .1))
    &:after
      clip: rect(0 37px 33px 18px)
      margin-left: -29px
    &:before
      content: ""
      display: block
      height: .5em
      margin-left: -.5em
      left: 50%
      position: absolute
      margin-top: 0
      top: 0
      width: 1em
      .cssgradients &
        +tiny-rounded-bottom
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -ms-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -o-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -webkit-gradient(radial, 50% 0, 0, 50% 0, 7, from(rgba(236, 223, 156, .9)), to(rgba(0, 0, 0, 0)))
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))

.standalone.cssgradients
  .page-spots
    #tab-spots a
      +box-shadow(rgba(0, 0, 0,.8), 0, 1px, 1px, 0)
      background-image: -moz-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -ms-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -o-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(46, 46, 46, 0), color-stop(0.55, rgba(35, 35, 35, .5)), to(rgba(40, 40, 40, .9))))
      background-image: -webkit-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      &:before
        bottom: -1px
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -ms-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -o-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 7, from(rgba(236, 223, 156, .9)), to(rgba(0, 0, 0, 0)))
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        top: auto

#tab-stars a
  &:after
    clip: rect(0 87px 33px 38px)
    margin-left: -64px
  // Selected state
  .page-stars &
    color: #ebc466
    +box-shadow(rgba(0, 0, 0,.8), 0, -10px, 1px, 0)
    .cssgradients &
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(40, 40, 40, .9)), color-stop(0.55, rgba(35, 35, 35, .5)), to(rgba(46, 46, 46, .1)))
    &:after
      clip: rect(0 140px 33px 88px)
      margin-left: -115px
    &:before
      content: ""
      display: block
      height: .5em
      margin-left: -.25em
      left: 50%
      position: absolute
      margin-top: 0
      top: 0
      width: 1em
      .cssgradients &
        +tiny-rounded-bottom
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -ms-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -o-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -webkit-gradient(radial, 50% 0, 0, 50% 0, 7, from(rgba(236, 223, 156, .9)), to(rgba(0, 0, 0, 0)))
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))

.standalone.cssgradients
  .page-stars
    #tab-stars a
      +box-shadow(rgba(0, 0, 0,.8), 0, 10px, 1px, 0)
      background-image: -moz-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -ms-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -o-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(46, 46, 46, 0), color-stop(0.55, rgba(35, 35, 35, .5)), to(rgba(40, 40, 40, .9))))
      background-image: -webkit-linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      background-image: linear-gradient(top, rgba(46, 46, 46, 0), rgba(35, 35, 35, .5) 55%, rgba(40, 40, 40, .9))
      &:before
        bottom: -1px
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -ms-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -o-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 7, from(rgba(236, 223, 156, .9)), to(rgba(0, 0, 0, 0)))
        background-image: -moz-radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        background-image: radial-gradient(rgba(236, 223, 156, .9), rgba(0, 0, 0, 0))
        top: auto

#tab-sighting a
  +small-rounded-bottom
  +light-inset
  +box-shadow(rgba(0,0,0,1), 0, 0, 4px, 0)
  background: #d5d2d2
  color: #111
  height: 4.95em
  min-height: 60px
  margin: 0 0 -0.367em
  // Selected state
  .page-sightings &
    background-color: #f2d868
    .cssgradients &
      background-image: -moz-linear-gradient(top, rgba(243, 220, 119, 1), rgba(246, 228, 150, 1) 55%, rgba(242, 216, 104, 1) 55.1%, rgba(238, 211, 96, 1))
      background-image: -ms-linear-gradient(top, rgba(243, 220, 119, 1), rgba(246, 228, 150, 1) 55%, rgba(242, 216, 104, 1) 55.1%, rgba(238, 211, 96, 1))
      background-image: -o-linear-gradient(top, rgba(243, 220, 119, 1), rgba(246, 228, 150, 1) 55%, rgba(242, 216, 104, 1) 55.1%, rgba(238, 211, 96, 1))
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(243, 220, 119, 1)), color-stop(0.55, rgba(246, 228, 150, 1)), color-stop(0.551, rgba(242, 216, 104, 1)), to(rgba(238, 211, 96, 1)))
      background-image: -webkit-linear-gradient(top, rgba(243, 220, 119, 1), rgba(246, 228, 150, 1) 55%, rgba(242, 216, 104, 1) 55.1%, rgba(238, 211, 96, 1))
      background-image: linear-gradient(top, rgba(243, 220, 119, 1), rgba(246, 228, 150, 1) 55%, rgba(242, 216, 104, 1) 55.1%, rgba(238, 211, 96, 1))
  .standalone &
    +no-rounded
    +small-rounded-top
    margin: -.3em 0 0
  .cssgradients &
    background-image: -moz-linear-gradient(top, rgba(218, 215, 215, 1), rgba(234, 233, 233, 1) 55%, rgba(213, 210, 210, 1) 55.1%, rgba(208, 205, 205, 1))
    background-image: -ms-linear-gradient(top, rgba(218, 215, 215, 1), rgba(234, 233, 233, 1) 55%, rgba(213, 210, 210, 1) 55.1%, rgba(208, 205, 205, 1))
    background-image: -o-linear-gradient(top, rgba(218, 215, 215, 1), rgba(234, 233, 233, 1) 55%, rgba(213, 210, 210, 1) 55.1%, rgba(208, 205, 205, 1))
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(218, 215, 215, 1)), color-stop(0.55, rgba(234, 233, 233, 1)), color-stop(0.551, rgba(213, 210, 210, 1)), to(rgba(208, 205, 205, 1)))
    background-image: -webkit-linear-gradient(top, rgba(218, 215, 215, 1), rgba(234, 233, 233, 1) 55%, rgba(213, 210, 210, 1) 55.1%, rgba(208, 205, 205, 1))
    background-image: linear-gradient(top, rgba(218, 215, 215, 1), rgba(234, 233, 233, 1) 55%, rgba(213, 210, 210, 1) 55.1%, rgba(208, 205, 205, 1))
  &:after
    clip: rect(0 191px 33px 140px)
    margin-left: -165px
    width: 190px

// ---- Header --------------
.header
  +dark-inset
  background: transparent
  color: #ebc466
  font-weight: bold
  letter-spacing: .15em
  text-align: center
  text-transform: uppercase
  padding: .9em .8em .75em
  .standalone.cssgradients &
    border-bottom: 1px #38040a solid
    background-color: #6a0712
    background-image: -moz-linear-gradient(top, rgba(130, 21, 32, 1), rgba(119, 23, 34, 1) 55%, rgba(110, 8, 9, 1) 55.1%, rgba(105, 7, 18, 1))
    background-image: -ms-linear-gradient(top, rgba(130, 21, 32, 1), rgba(119, 23, 34, 1) 55%, rgba(110, 8, 9, 1) 55.1%, rgba(105, 7, 18, 1))
    background-image: -o-linear-gradient(top, rgba(130, 21, 32, 1), rgba(119, 23, 34, 1) 55%, rgba(110, 8, 9, 1) 55.1%, rgba(105, 7, 18, 1))
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(130, 21, 32, 1)), color-stop(0.55, rgba(119, 23, 34, 1)), color-stop(0.551, rgba(110, 8, 9, 1)), to(rgba(105, 7, 18, 1)))
    background-image: -webkit-gradient(top, rgba(130, 21, 32, 1), rgba(119, 23, 34, 1) 55%, rgba(110, 8, 9, 1) 55.1%, rgba(105, 7, 18, 1))
    background-image: linear-gradient(top, rgba(130, 21, 32, 1), rgba(119, 23, 34, 1) 55%, rgba(110, 8, 9, 1) 55.1%, rgba(105, 7, 18, 1))
    padding: .6em .6em .7em
  h1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    .standalone &
      margin-left: 20%
      width: 65%
  .back
    +dark-inset
    +small-rounded
    +box-shadow(rgba(255,255,255,.2), 0, 1px, 1px, 0, inset)
    +font-stack("helvetica")
    background: #9a1b27
    border: 1px #54100d solid
    display: none
    color: #fff
    font:
      size: .92em
      weight: bold
    letter-spacing: 0
    padding: .4em .6em .5em .6em
    position: absolute
    text-decoration: none
    text-transform: none
    top: .2em
    left: .5em
    -webkit-background-clip: padding-box
    .standalone &
      display: block

// ---- Spots --------------
#spots-location
  +clearfix
  border-top: 1px #590d15 dashed
  padding: .55em .5em .6em
  font-size: 1em
  .standalone &
    border: none
  label span
    display: none
  input
    +small-rounded
    background: #e1cece
    border: 1px #3c0603 solid
    font-size: 1em
    margin: 0
    height: 2em
    width: 94%
    -webkit-appearance: caret
    &:focus
      background: #fff
  input::-webkit-input-placeholder
    color: #856969
  input:-moz-placeholder
    color: #856969
  fieldset
    float: left
    position: relative
    width: 76%
  button
    +dark-inset
    +small-rounded
    +box-shadow(rgba(255,255,255,.2), 0, 1px, 1px, 0, inset)
    +font-stack("helvetica")
    background: #7c0c18
    border: 1px #3c0603 solid
    color: #fff
    float: right
    font:
      size: .857em
      weight: bold
    height: 3em
    letter-spacing: .15em
    text-transform: uppercase
    margin: 0
    width: 22%
    -webkit-background-clip: padding-box
  .geolocation &
    .locate-me
      right: 0

.no-geolocation .locate-me
  display: none

.geolocation
  .locate-me
    +small-rounded-right
    background: #eadddd
    border-left: 1px #b99f9e solid
    bottom: 0.071em
    overflow: hidden
    position: absolute
    right: 1px
    top: 0.1em
    text-indent: -999em
    width: 2.4em
    &:after
      content: url(../images/sprite.png)
      position: absolute
      left: 1.1em
      top: .4em
      clip: rect(0 226px 33px 201px)
      left: -197px
      // Need to reset text-indent!
      text-indent: 0
  &.svg
    .locate-me:after
      content: url(../images/sprite.svg)


// ---- Table Views --------------
.table-view
  background: #7c0c18
  li
    border-top: 1px #8c2a34 solid
    border-bottom: 1px #640913 solid
  .even
    background: #830f1b

.table-action
  h2
    color: #fff
    font-size: 1.285em
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    width: 82%
  li
    position: relative
  a
    +dark-inset
    color: #d6b69e
    display: block
    padding: .5em .785em .714em
    position: relative
    text-decoration: none
    &:after
      clip: rect(0 201px 20px 192px)
      content: url(../images/sprite.png)
      margin: -.82em -5.2em 0 0
      overflow: hidden
      position: absolute
      top: 50%
      right: 0
      .svg &
        content: url(../images/sprite.svg)
  .relative-distance
    font-weight: normal
  .sightings
    +tiny-rounded
    background: #6f0914
    border: 1px #841420 solid
    color: #ebc466
    font-weight: bold
    position: absolute
    padding: 0.214em 0.429em
    right: 2.5em
    top: 50%
    margin-top: -1.1em

.table-list
  +dark-inset
  color: #c08b7c
  h2
    color: #fff
    font-size: 1.285em
    line-height: 1
    margin-bottom: .15em
    white-space: nowrap
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
  a
    text-decoration: none
  li
    padding: .8em .785em .9em 5em
    position: relative
  .avatar
    position: absolute
    left: 0
    top: .4em
    img
      +small-rounded-right
  h2
    margin-top: 0
  .details
    font-size: .928em

#next-page
  +dark-inset
  background: #62030e
  border-top: 1px #8c2a34 solid
  border-bottom: 1px #771f28 solid
  text-decoration: none
  display: block
  font-size: 1.143em
  padding: .5em .785em .785em

.page-header
  border-top: 1px #5f1018 dashed
  +clearfix
  color: #d6b69e
  padding: .8em .785em 1.1em
  position: relative
  .standalone &
    border: none
  h1
    +dark-inset
    font-size: 1.57em
    color: #fff
    line-height: 1
    margin-bottom: .25em
    padding-right: 3em
  .map, .avatar
    margin-top: -2.18em
    position: absolute
    right: 0
    top: 50%
    img
      +small-rounded-left


// ---- Sighting --------------
.page-sightings
  form
    background: #7c0c18
    border-top: 1px #8c2a34 solid
    padding: .65em 0 0
  fieldset
    padding-left: .5em
    padding-right: .5em
  label
    +dark-inset
    color: #fff
    display: block
    font-size: .75em
    position: relative
    font-weight: bold
    letter-spacing: .15em
    text-transform: uppercase
  input
    +small-rounded
    background: #e1cece
    border: 1px #3c0603 solid
    display: block
    font-size: 1.3em
    margin: .3em 0 .5em
    padding: 0
    height: 2em
    width: 96%
    padding: .3em 2%
    -webkit-background-clip: padding-box
    &:focus
      background: #fff  
  input::-webkit-input-placeholder
    color: #856969
  input:-moz-placeholder
    color: #856969

.geolocation #label-spot .locate-me
  bottom: 1px
  top: auto
  height: 3.4em
  width: 3.2em

#save
  background: #62030e
  border-top: 1px #3c0603 solid
  padding-top: .65em
  padding-bottom: .65em
  button
    +light-inset
    +small-rounded
    +box-shadow(rgba(255,255,255,.4), 0, 1px, 1px, 0, inset)
    +font-stack("helvetica")
    background: #edc82b
    border: 1px #3c0603 solid
    color: #111
    display: block
    letter-spacing: 0
    font:
      size: 1.14em
      weight: bold
    padding: .55em .8em .65em 
    position: relative
    text-decoration: none
    margin: 0
    -webkit-background-clip: padding-box
    width: 100%
    
#photo
  margin: 1em 0
  a
    +dark-inset
    +small-rounded
    +box-shadow(rgba(255,255,255,.2), 0, 1px, 1px, 0, inset)
    +font-stack("helvetica")
    background: #9a1b27
    border: 1px #3c0603 solid
    color: #fff
    display: block
    letter-spacing: 0
    font:
      size: 1.14em
      weight: bold
    padding: .55em .8em .65em 3.1em
    position: relative
    text-decoration: none
    margin: 0
    -webkit-background-clip: padding-box
    &:after
      content: url(../images/sprite.png)
      position: absolute
      top: .4em
      left: .5em
      overflow: hidden
      clip: rect(0 258px 33px 226px)
      margin-left: -226px
      .svg &
        content: url(../images/sprite.svg)

// ---- Map stuff --------------

#show-geo
  +dark-inset
  +small-rounded
  +box-shadow(rgba(255,255,255,.2), 0, 1px, 1px, 0, inset)
  +font-stack("helvetica")
  background: #9a1b27
  border: 1px #3c0603 solid
  color: #fff
  display: block
  letter-spacing: 0
  font:
    size: 1.14em
    weight: bold
  padding: .55em .8em .65em 3.1em
  position: relative
  text-decoration: none
  margin: 0 0 1em
  -webkit-background-clip: padding-box
  &:after
    content: url(../images/sprite.png)
    position: absolute
    top: .4em
    left: .5em
    overflow: hidden
    clip: rect(0 289px 33px 258px)
    margin-left: -258px
    .svg &
      content: url(../images/sprite.svg)

#geo-map
  height: 300px
  width: 100%

#geo-container
  display: none

#geo-container
  background-color: #46070e
  padding: 1em
  min-height: 50px


#geo-start, #geo-stop
  +dark-inset
  +small-rounded
  +box-shadow(rgba(255,255,255,.2), 0, 1px, 1px, 0, inset)
  +font-stack("helvetica")
  background: #9a1b27
  border: 1px #3c0603 solid
  color: #fff
  display: block
  letter-spacing: 0
  font:
    size: 1em
    weight: bold
  float: left
  padding: .55em .8em .65em
  position: relative
  text-decoration: none
  text-align: center
  margin: 0 0 1em
  width: 40%
  -webkit-background-clip: padding-box

#geo-start
  margin-right: 4%

// ---- Footer --------------
.footer
  +clearfix
  color: #e0ccce
  padding: 1em .785em 1em
  .authenticate
    float: right
    
// .scroller
//   -webkit-touch-callout: none
//   -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.wrapper
  position: relative
  z-index: 1
  width: 100%
  overflow: hidden
  
  
a:link
  -webkit-tap-highlight-color: transparent

.standalone *
  -webkit-touch-callout: none